*{//Sandeep Kr Chauhan
    margin:0;padding:0;box-sizing:border-box;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image: repeating-linear-gradient(249deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),repeating-linear-gradient(307deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 32px),linear-gradient(90deg, hsl(191,85%,78%),hsl(242.429,85%,78%),hsl(293.857,85%,78%),hsl(345.286,85%,78%),hsl(36.714,85%,78%),hsl(88.143,85%,78%),hsl(139.571,85%,78%));
}
.calendar{
    position:relative;
    width:200px;
    background:white;
    text-align:center;
    border-radius:8px;
    overflow:hidden;
    -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,#0004);
}
.calendar #month{
    position:relative;
    padding:5px 10px;
    background-image: linear-gradient(90deg, rgb(26, 16, 35),rgb(12, 216, 57));
    color:#FFF;
    font-size:30px;
    font-weight:700;
}
.calendar #day{
    margin-top:20px;
    font-size:20px;
    font-weight:300;
    color:#999;
}
.calendar #number{
    margin-top:0px;
    font-size:80px;
    font-weight:700;
    color:#333;
    line-height:1em;
}
.calendar #year{
    margin-bottom:20px;
    font-size:20px;
    font-weight:500;
    color:#999;
//Sandeep Kr Chauhan
}






